
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;
    /* font-weight: 500;
    font-style: italic; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

header {

    margin: 47px 20px 0px 42px;


}

.link-header {

    width: 87px;
    height: 20px;
    font-size: 400;
    line-height: 0.88px;
    margin-right: 42px;
    color: #17233D;

}

.button1 {

    background-color: #6FBF44;
    border-radius: 6px;
    height: 51px;
    width: 124px;
    border: 1px solid #4CB538;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer ;

}

.imagem {

    display: inline-block;
    width: 595.18px;
    height: 500px;
    margin-top: 246px;
    margin-left: 123px;


}


section {

    height: 100vh;
    width: 40vw;
    margin-left: 80px;
    display: inline-block;
    text-align: start;
    vertical-align: top ;
    margin-top: 260px;
    position: absolute;
    right: 20px;



}

h1 {

    font-weight: 700;
    letter-spacing: 0.6px;
    font-size: 62px;
    width: 582px;
    height: 164px;
    margin-bottom: 90px;
    
    


}


p {

    width: 493px;
    height: 99px;
    color: #4B505A;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-bottom: 90px;

}


.learn {

    width: 180px;
    height: 27px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    color: #6FBF44;
    background-color: transparent;
    border: none;
    cursor: pointer;

}


@media screen and (max-width: 1250px) {

section {
   
    margin : 20px auto;
    padding: 0;
    display: block;
    position: relative;
    top: -500px;
    text-align: center;
    
   
}

.imagem {

padding: 0;
margin: 20px auto;
display: block;
position: relative;
top: 500px;

}


header {
        width: 600px;
    margin: 0 auto;
    padding: 0;
}

}

 